* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;

  font-family: "Frutiger LT Std", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

header {
  background: #fff;
  height: 80px;
  overflow: hidden;
  position: relative;
}

header h1 {
  color: #000;
  font-size: 36px;
  font-weight: 300;
  padding: 25px 15px;
}

header .indicator {
  position: absolute;
  right: 0px;
  top: 0px;
  display: block;
  width: 80px;
  height: 80px;
  background: url('/images/indicator.gif') no-repeat center center;
}

.status {
  font-weight: normal;
  font-size: 30px;
  line-height: 1.4;
  margin: 40px auto;
  text-align: center;
  width: 80%;
}
