.event {
  padding: 8px 20px;
  margin: 20px 15px;

  background: #222;
}
.event.placeholder {
  display: none;
}

.event h1, .event .information {
  margin: 8px 0;
}

.event h1 {
  font-size: 22px;
  line-height: 1.3;
}

.event .information li {
  display: inline-block;
  padding-right: 8px;
  font-size: 16px;
}
.event .information li.duration {
  color: #888;
}
.event .information li::before {
  content: " • ";
  padding-right: 8px;
}
.event .information li:first-of-type::before {
  content: none;
}

.event.today {
  border-left: 4px solid #77d539;
}
.event.today h1 {
  font-size: 38px;
  font-weight: bold;
  margin: 13px 0 0;
}
.event.today .information {
  margin: 8px 0 13px;
}
.event.today .information li {
  font-size: 20px;
}
